## Node
node_modules
/build
/*.log
size-plugin.json

## IDE
.idea/

## Terraform
.terraform/
.terraform.lock.hcl
terrastate.tf

## Cypress
cypress/videos
cypress/reports
cypress/screenshots
cypress/fixtures/example.json